html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.nav-bar {
	background-color: #fff;
	position: fixed;
	width: 100%;
	margin-top: -1em;
	z-index: 9999;
}

.nav-bar > .content {
	width: 970px;
	height: 85px;
	margin: 0 auto;
}

.nav-bar .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 1.04em;
	margin-top: 2.4em;
}

.nav-bar .links li {
	display: inline-block;
	margin-left: 25px;
}

.nav-bar .links .active {
	color: #4c5058;
	font-weight: 500;
}

.nav-bar .links li:hover {
	cursor: pointer;
	color: #333333;
}

.logo {
	margin-top: 2em;
}

.intro-section {
	background: url("first-background.jpg") center bottom no-repeat;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45em;
}

.intro-section .content {
	text-align: center;
	padding-top: 14rem;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	font-weight: 100;
}

.intro-section h1 {
	font-size: 2.75em;
	font-weight: 300;
	margin-bottom: 1rem;
}

.intro-section h3 {
	letter-spacing: 0.07rem;
	font-weight: 500;
}

.button {
	background-color: #fa612c;
	width: 8em;
	height: 2.75em;
	border-radius: 4px;
	border-color: #fa612c;
	border-style: none;
	font-weight: 400;
}

.button:hover {
	background-color: #de4727;
} 
